.no-padding {
	padding: 0;
	margin: 0;
}

.title {
	font-weight: 800;
	font-size: 45px;
}

.rounded-box {
	border-radius: 30px;
	padding: 30px 10px;
}

.huge-and-bold {
	font-weight: 700;
	font-size: 35px;
}

.big-and-bold {
	font-weight: 700;
	font-size: 30px;
}

.normal-and-bold {
	font-weight: 700;
	font-size: 20px;
}

.rounded-box.big {
	margin: 0 25px;
	min-height: 100px;
}

.card {
	text-align: center;
	overflow: hidden;
	padding-top: 70px;
}

.card .top-color-area {
	position: absolute;
	height: 50px;
	width: 100%;
	left: 0;
	top: 0;
}
