.no-padding {
	padding: 0;
	margin: 0;
}

.title {
	font-weight: 800;
	font-size: 45px;
}

.rounded-box {
	border-radius: 30px;
	padding: 40px 20px;
}

.huge-and-bold {
	font-weight: 700;
	font-size: 35px;
}

.big-and-bold {
	font-weight: 700;
	font-size: 30px;
}

.normal-and-bold {
	font-weight: 700;
	font-size: 20px;
}

.rounded-box.big {
	margin: 0 25px;
	min-height: 100px;
}

.card {
	text-align: center;
	overflow: hidden;
	padding-top: 70px;
	width: 160px;
	margin: 0;
	display: inline-block;
}

.card .top-color-area {
	position: absolute;
	height: 50px;
	width: 100%;
	left: 0;
	top: 0;
}

.back-button {
	position: absolute;
	right: 10px;
	top: 10px;
}

.scroll-y {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.scroll-y .card {
	margin: 0 5px;
}

.container {
	max-width: 600px;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(182, 182, 182, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
